.ActivityPageMain {
  /* background-color: darkgreen; */
  /* height: 100%; */
  /* width: 100%; */
  margin: 10px;
}

.ActivityPageMain__content {
  background-color: rgb(173, 119, 18);
  padding: 10px;
  font-weight: 600;
  color: beige;
  max-width: 600px
}