.App {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar main";
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 120px 1fr;
  min-height: auto;
}

.App__nav {
  background-color: gray;
  color: black;
  grid-area: sidebar;
  height: auto;
  overflow: auto;
}

.App__header {
  background-color: white;
  color: black;
  grid-area: header;
  /* Remove to play with Icon */
  padding-left: 16px;
  padding-top: 32px;
}

/* TO color the hyper links within App */
.App__header a {
  color: black;
}

.App__main {
  background-color: burlywood;
  grid-area: main;
  overflow: auto;
}
